body{
    background-color: cornsilk;
    font-style: italic;
    justify-content: center;
    text-align: center;
}

h1{

    font-size: larger;
    color:darkgreen;
}

.imagem{
    width: 20px;
    padding: 150px;
    margin: 150px;
}

